.post_profile_section {
  display: flex;
  gap: .5rem;
}

.post_main_content {
  padding: 1.2rem 0;
}

.post_h3_content {
  font-size: 14;
  font-weight: 700;
  padding: 0 3.4vw;
}

.post_p_content {
  padding: 0 3.4vw;
}

.post_p_content p {
  padding: 1.2rem 0;

}

.post_tags_list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 3.4vw;
}

.post_tag {
  background-color: #F7F8FA;
  padding: .6rem 1.5rem;
  border: .5px solid #CED3DE;
  border-radius: 20px;
  color: #5A6B87;
}

.post_image {
  text-align: center;
  justify-content: center;
  margin: 1.4rem 0 0 0;
}

@media screen and (min-width: 700px) {
  .post_image {
    padding: 1.2vw 3.4vw;
  }
}

.post_image img {
  height: 45rem;
  width: 100%;
}

.post_actions,
.post_save,
.comment_actions {
  display: flex;
  align-items: center;
  gap: .7rem;
}

.post_actions {
  gap: 1.5rem;
  padding: 1.2vw 3.4vw;
  height: 56px;
  align-items: center;
  color: #AFB9CA;
  border-bottom: 1px solid #AFB9CA;
}